.Wdate{
	border:#ddd 1px solid;
	height:40px;
	background:#fff url(datePicker.gif) no-repeat right;
	background-position: 320px 10px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}